[core]
    abbrev = 12
    autocrlf = input
    editor = micro
    pager = delta --diff-so-fancy

[user]
    name = Sanchith Hegde
    email = sanchith.hegde01@gmail.com
    signingkey = 3D39F4D2F1B4152D

[color]
    ui = true

[commit]
    gpgsign = true

[diff]
    colorMoved = default

[init]
	defaultBranch = main

[merge]
    log = true

[pull]
    rebase = true

[push]
    default = simple

[status]
    submodulesummary = true

[alias]
    root = rev-parse --show-toplevel

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = Monokai Extended Bright

[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = git://github.com/
